@tailwind base;
@tailwind components;
@tailwind utilities;

body > #flasher-container,
body > .fl-wrapper {
  position: fixed !important;
  top: calc(4rem + 1rem) !important; /* ajuste selon hauteur navbar */
  right: 1.25rem !important;
  z-index: 9999 !important; /* ou encore plus élevé */
}
